<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>practiceexam02ios.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2D3B72832BC7D4200088DD2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D3B72992BC7D4210088DD2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D3B72A32BC7D4210088DD2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
